body {
    display: flex;
    flex-direction: column;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

header {
    background: white url(christmas-005-snow.jpg) no-repeat top center;
    background-size: contain;
    width: 98vw;
    height: 130vw;
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    max-height: 1050px;
}

h1, .ribbon {
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
}

.ribbon {
    bottom: 11%;
    font-size: 1.8em;
}

address {
    font-style: normal;
}

main {
    max-width: 600px;
    width: 80vw;
    margin: 0 auto 3em auto;
}

h1 {
    top: 5%;
    font-size: 2.5em;
}

p {
    font-size: 2em;
}

footer p {
    width: 80vw;
    max-width: 600px;
    font-size: 1.5em;
    margin: 0 auto;
}